# Python
*.py[cod]
*$py.class
*.so
__pycache__/
*.egg
*.egg-info/
dist/
build/
.Python

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
/media
/staticfiles
/static

# 環境變量
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# 測試
.coverage
.pytest_cache/
htmlcov/
.tox/
*.cover

# 其他
*.bak
*.tmp
Thumbs.db
courses/management/commands
data/
chatbot/dataset/
chatbot/faiss_index_exercise/*.faiss
chatbot/faiss_index_exercise/*.pkl
chatbot/faiss_index_teaching/*.faiss
chatbot/faiss_index_teaching/*.pkl
chatbot/config.py